
 .a { 
	width: 209px;
	height: 209px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 263px;
	top:57px;
 }

 .b { 
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	right: 102px;
	top: 99px;
 }

 .c { 
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 590px;
	top: 290px;
 }

 .d { 
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 64px;
	top: 585px;
 }

 .e { 
	width: 35px;
	height: 35px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 385px;
	top: 1066px;
 }

 .f { 
	width: 48px;
	height: 48px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 801px;
	top: 137px;
 }

 .g { 
	width: 56px;
	height: 56px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 221px;
	top: 416px;
 }

 .h { 
	width: 56px;
	height: 56px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 551px;
	top: 881px;
 }

 .i { 
	width: 65px;
	height: 65px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 792px;
	top: 952px;
 }

  .j { 
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 465px;
	top: 395px;
 }

 .k { 
	width: 78px;
	height: 78px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	right: 64px;
	top: 988px;
 }

  .l { 
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 857px;
	top: 401px;
 }

  .m { 
	width: 78px;
	height: 78px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 885px;
	top: 505px;
 }

  .n { 
	width: 111px;
	height: 111px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 502px;
	top: 528px;
 }

 .o { 
	width: 151px;
	height: 151px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 160px;
	top: 790px;
 }

 .p { 
	width: 111px;
	height: 111px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 1014px;
	top: 702px;
 }

 .q { 
	width: 78px;
	height: 78px;
	border-radius: 100%;
	background: #EA1B25;
	position: absolute;
	left: 15px;
	top: 105px;
 }