body {
	margin: 50px;
	font-family: courier;
	line-height: 28px;
	background: #b9d4df;
}

a {
	color: #006666;
}

.c2 {
	position: fixed;
	top: 10px;
	right: 0px;
}

.c1 {
	position: fixed;
	bottom: 0px;
	left: 0px;
}