* { vertical-align: top; }
* { box-sizing: border-box; }

body {
	padding: 10px;
	margin: 25px;
	background: #000;
}

.c {
	display: inline-block;
	margin: 0 10px 25px 10px;
}

.no-left-gutter {margin-left: 0;}
.no-right-gutter {margin-right: 0;}
.whitespace-fix {font-size:0;}

.c1 {height: 197px;}
.c2 {height: 307px;}
.c3 {height: 58px;}
.c4 {height: 195px;}
.c5 {height: 58px;}
.c6 {height: 127px;}

img {height: 100%}

a { color: transparent; }